
.content {
    -fx-background-color: #ffc7d5; /* même que page accueil */
    -fx-padding: 30px;
}

.title-text {
    -fx-text-fill: #2e2e2e; /* Changement : couleur visible */
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15px 0;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #2e2e2e;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.contact-info, .horaires {
    -fx-background-color: #b8c1f0; /* Violet clair doux */
    -fx-background-radius: 15px;
    -fx-padding: 18px;
    -fx-spacing: 10px;
}


.info-item, .horaire-item {
    -fx-text-fill: #1a1a1a;
    -fx-font-size: 13px;
}

.vet-button {
    -fx-background-color: #ff9bb0;
    -fx-text-fill: #2e2e2e;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-radius: 18px;
    -fx-padding: 8px 22px;
    -fx-cursor: hand;
}

.footer {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-text-fill: #2e2e2e;
    -fx-padding: 12px;
    -fx-font-size: 11px;
    -fx-background-radius: 8px;
    -fx-alignment: center;
}
